#masthead {
	height: 5%;
	width: 100%;
	border-bottom: 3px solid #666;
	margin-bottom: 0px;
	padding-bottom: 0px;
	float: left;
}

.container1 {
	width: 57%;
	background-color: ;
	float: left;
}

.container2 {
	width: 43%;
	margin: auto;
	background-color: ;
	float: left;
}

#logo {
		font-size: 32px;
		color: white;
		text-decoration: none;
		background-color: teal;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 12px;
		margin-left: 50px;
		float: left;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 2px solid #666;
	font-family: times sans-serif;
	font-size: 14px;
}

li a {
	text-decoration: none;
	color: #666;
}

.mainbody {
	clear: both;
	float: left;
	display: inline;
	width: 100%;
	border: 0px solid orange;
	overflow: auto;
	background-color: grey;
	background-image: url("../images/concrete2.png");
}

.container3 {
	width: 52%;
	max-height: 500px;
	font-family: times;
	border: 1px solid #878681;
	background-color: #ffffff;
	margin-top: 4%;
	margin-left: 2%;
	margin-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	overflow: auto;
}

.social {
	max-width: 180px;
	height: 60px;
	border: 0px solid #878681;
	margin: auto;
	padding-left: 0px;
}

.tiles {
    display: inline-block;
    padding: ;
    margin: ;
    border: 0px solid #73AD21; 
}

.contactform {
	height: 400px;
}

.container4 {
	width: 25%;
	min-width: 120px;
	font-family: times;
	border: 1px solid #878681;
	background-color: #ffffff;
	margin-top: 4%;
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	float: left;
	overflow: auto;
}

h3 {
	font-family: times sans-serif;
	font-size: 24px;
	color: teal;
	text-align: left;
	border-bottom: 2px solid #878681;
	padding-top: 3%;
}

footer {
	clear: both;
	width: 100%;
	height: 3%;
	bottom: 0;
	margin: 2%;
	background-color: #676767;
	border-top: 6px solid #00827f;
	font-family: times;
	font-size: 12px;
	text-align: center;
	padding: 3%;
	color: white;
}

/*

p {
    min-width: 150px;
}

.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21; 
}


